<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="GET" th:action = "@{/books/search}">
        <label for = "search">Введите поисковой запрос</label>
        <input type="text" id = "search" name = "bookTitle">
        <input type="submit" value="Найти">
    </form>
    <div th:if="${book != null and book.getTitle() != 'undefined'}">
        <br>
        <hr>
        <p th:text = "${book.getTitle()} +', '+ ${book.getAuthor()} +', '+ ${book.getDateOfCreate()}">text</p>
        <div th:if="${book.getOwner() != null}">
            <p th:text = "'Владелец: ' + ${book.getOwner().getName()}">owner</p>
        </div>


    </div>
    <div th:if="${book == null}">
        <br>
        <hr>
        <p>Книга не найдена</p>
    </div>
    <div th:if="${book.getTitle() == 'undefined'}">

    </div>
</body>
</html>
