<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Man</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>
<hr/>
<p th:if = "${ #lists.isEmpty(person.getBooks())}" th:text = " 'Человек еще не взял ни одной книги ' " >text</p>
<div th:if = "${not #lists.isEmpty(person.getBooks())}" th:text = "'Книги'"></div>
<div th:if = "${not #lists.isEmpty(person.getBooks())}" th:each = "book : ${person.getBooks()}">
    <p th:text="${book.toString()}">text</p>
</div>
<hr/>
<form th:method="GET" th:action = "@{/people/{id}/edit(id = ${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br/>
<form th:method="DELETE" th:action = "@{/people/{id}(id = ${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>